#halaman {
    width: 700px;
    margin: auto;
}

nav{
    background-color:blueviolet;
    display: inline-block;
    width: 100%;
}

nav ul{
    padding: 0px;
    margin: 0px;
    liststyle: none;
}

nav ul li{
    float: left;
    background-color:blueviolet;
}

nav a{
    display: block;
    padding: 0 30px;
    color:aquamarine;
    line-height: 80 px;
font-size: 20px;
text-decoration:none; 
}

nav a:hover{
    background-color:black;
}

nav ul ul{
    display: none;
    position: absolute;
    top:30px;
}

nav ul li:hover > ul{
    display: block;
}

nav ul ul li{
    widht: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul ul li{
    position: relative;
    top:-60px;
    left: 150px;
}

li > a::after { content: ' +';}
li > a:only-child::after {
    content: '';
}
